/********** ALL PAGES ************/
html{
    width: 100vw;
    top: 0;
    left: 0;
    overflow-x : hidden;
}
body{
    --agl-primary-color: #286ADE;
    --agl-second-blue: #5193f4;
}

.navbar {
    padding: 10px;
    margin-bottom: 30px;
}
.navbar-nav .nav-item a {
    color: black !important;
}

.space{
    height: 100px;
}

footer{
    position: fixed;
    bottom : 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

/********** DASHBOARD ************/
.title-page, .container{margin-bottom: 50px;}
.container h1, .container h2{
    text-align: center;
}
.container h2{margin-bottom: 20px;}

.result{
    text-align: center;
}

.content-cell{padding: 0.5em 1em !important;}

.buttons-cell a.see:hover{color: grey;}
.buttons-cell a.valid:hover{color: green;}
.buttons-cell a.delete:hover{color: red;}

    /** TABLE RESPONSIVE **/
@media screen and (max-width : 580px){
    thead, td.author-cell, th.author-cell{display: none !important;}
    td, th{
        display: block;
        width: 100%;
    }
    td{border: 0;}
    .buttons-cell{text-align: center;}
    .buttons-cell a{margin: 0 10px;}
    .scroll-top {bottom: 0; right: 0;}
} 


/*** FORMS ****/
select {
    width: 100% !important;
    border-radius: 30px !important;
    background: #fff !important;
    box-shadow: 0px 0px 45px rgba(181, 181, 181, 0.16) !important;
    padding: 18px 30px !important;
    line-height: 1.25 !important;
    color: #5B657E !important;
    border: 1px solid transparent !important;
    transition: all 0.3s ease-out 0s !important;
}

#cat-selected span{
    background-color: var(--agl-second-blue);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 10px;
    display: inline-block;
}

#cat-selected span .lni-close{margin-left: 5px; cursor: pointer;}
#cat-selected span .lni-close:hover{color: rgba(225,0,0,0.5);}
