<!DOCTYPE html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>LABORIE Anthony</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"/>
    <!-- Place favicon.ico in the root directory -->

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="assets/css/bootstrap-5.0.0-alpha-2.min.css" />
    <link rel="stylesheet" href="assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/custom.css" />
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <!-- ========================= preloader start ========================= -->
    <div class="preloader">
      <div class="loader">
        <div class="ytp-spinner">
          <div class="ytp-spinner-container">
            <div class="ytp-spinner-rotator">
              <div class="ytp-spinner-left">
                <div class="ytp-spinner-circle"></div>
              </div>
              <div class="ytp-spinner-right">
                <div class="ytp-spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- preloader end -->

    <!-- ========================= header start ========================= -->
    <header class="header">
      <div class="navbar-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                  <ul id="nav" class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="page-scroll" href="#home"><i class="lni lni-home"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#contact"><i class="lni lni-telegram-original"></i></a>
                    </li>
                  </ul>
                </div>
                <!-- navbar collapse -->
              </nav>
              <!-- navbar -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- navbar area -->
    </header>
    <!-- ========================= header end ========================= -->


      {% block body %}{% endblock %}


    <!-- ========================= footer start ========================= -->
		<footer class="footer mt-150 pt-90">
				<div class="widget-wrapper">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<div class="logo">
									<h3 class="text-white">Me suivre</h3>
								</div>
								<ul class="socials">
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-facebook-filled"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-twitter-filled"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-instagram-filled"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-linkedin-original"></i> </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<h3 class="text-white">Explore</h3>
								<ul class="links">
									<li>
										<a href="javascript:void(0)">About </a>
									</li>
									<li>
										<a href="javascript:void(0)">Our Team </a>
									</li>
									<li>
										<a href="javascript:void(0)">Features </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<h3 class="text-white">Terms</h3>
								<ul class="links">
									<li>
										<a href="javascript:void(0)">Refund Policy</a>
									</li>
									<li>
										<a href="javascript:void(0)">Terms of Service</a>
									</li>
									<li>
										<a href="javascript:void(0)">Support Policy</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<h3 class="text-white">Links</h3>
								<ul class="links">
									<li>
										<a href="javascript:void(0)">Help </a>
									</li>
									<li>
										<a href="javascript:void(0)">Support </a>
									</li>
									<li>
										<a href="javascript:void(0)">Contact </a>
									</li>
								</ul>
							</div>
						</div>
									<p class="text-center pb-30" style="color: #fff">Réalisé par Anthony Laborie - 2020</p>

					</div>
				</div>
			</div>
		</footer>
    <!-- ========================= footer end ========================= -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.5.0.0.alpha-2-min.js"></script>
    <script src="assets/js/count-up.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
